Package: com.pixelomer.moderndepictions
Name: ModernDepictions
Depends: mobilesubstrate, firmware (>=8.0), com.creaturesurvive.libcscolorpicker, preferenceloader, ws.hbang.common (>= 1.11)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Sileo-like Depictions for Cydia
  Allows viewing Sileo depictions within Cydia. Supports iOS 8.0 and higher.
Maintainer: pixelomer
Author: pixelomer
Section: Tweaks
