Package: com.pixelomer.moderndepictions
Name: ModernDepictions
Depends: mobilesubstrate
Version: 0.4
Architecture: iphoneos-arm
Description: Get Sileo's features on other package managers!
  NOTE: ModernDepictions was rewritten with version 0.4.
  (this space was left unintentionally. if this is still here after the release, contact @pixelomer)
Maintainer: PixelOmer
Author: PixelOmer
Section: Tweaks
