<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>EnableModernDepictions</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sileo Depictions</string>
			<key>footerText</key>
			<string>Show Sileo depictions in Cydia when available.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>EnableSileoDepictions</string>
			<key>label</key>
			<string>Enable Sileo Depictions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Modern Package Cells</string>
			<key>footerText</key>
			<string>Replace Cydia's default package cells with package cells inspired by Sileo's design.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>EnableModernPackageCells</string>
			<key>label</key>
			<string>Use Modern Package Cells</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Modern Homepage</string>
			<key>footerText</key>
			<string>Replaces Cydia's homepage with a page that contains featured packages from your Sileo-compatible repositories.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>EnableModernHomeController</string>
			<key>label</key>
			<string>Enable Modern Homepage</string>
			<key>enabled</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>EnableFeaturedPackagesInSectionController</string>
			<key>label</key>
			<string>Repo-specific Featured Packages</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>PreferredTintColor</string>
			<key>label</key>
			<string>Preferred tint color</string>
			<key>fallback</key>
			<string>2CB1BE</string>
			<key>alpha</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Experimental</string>
			<key>footerText</key>
			<string>These are experimental features that are not enabled by default. Use them at your own risk.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>EnableiOSRepoUpdatesAPI</string>
			<key>label</key>
			<string>Native BigBoss Depictions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>EnableDepictionWebView</string>
			<key>label</key>
			<string>Enable DepictionWebView</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pixelomer.moderndepictions.prefs</string>
			<key>key</key>
			<string>LookForSileoPrices</string>
			<key>label</key>
			<string>Fetch Payment Information</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created By</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>pixelomer</string>
			<key>showAvatar</key>
			<true/>
			<key>user</key>
			<string>pixelomer</string>
		</dict>
	</array>
	<key>title</key>
	<string>ModernDepictions</string>
</dict>
</plist>
